--
-- PostgreSQL database dump
--

\restrict fMaK0Thn3eoKbAWnRXs04tJf9vhAzhpgzXZws56LmOyN9OleDqHkRSLmt0yt5V8

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: auth; Owner: postgres
--



--
-- Data for Name: parties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parties (id, type, nom, telephone, email, adresse, type_relation, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: dossiers_recouvrement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: actions_recouvrement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.actions_recouvrement (id, dossier_id, date, type_action, resume, prochaine_etape, echeance_prochaine_etape, piece_jointe, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: affaires; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.affaires (id, reference, intitule, demandeurs, defendeurs, juridiction, chambre, statut, notes, created_at, updated_at, created_by) FROM stdin;
\.


--
-- Data for Name: alertes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alertes (id, type, titre, description, lien, priorite, lu, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: audiences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audiences (id, affaire_id, date, heure, objet, statut, notes_preparation, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_log (id, user_id, user_email, action, module, entity_type, entity_id, entity_reference, created_at) FROM stdin;
\.


--
-- Data for Name: proprietaires; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: immeubles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: locataires; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lots; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: baux; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.baux (id, lot_id, locataire_id, date_debut, date_fin, montant_loyer, jour_paiement_prevu, statut, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: clients_conseil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients_conseil (id, reference, nom, type, telephone, email, adresse, honoraire_mensuel, jour_facturation, statut, notes, created_at, updated_at, created_by) FROM stdin;
c08d64e0-c2b3-444d-9c87-52d23126a842		TECHNOLOGIES SERVICES	morale	\N	\N	\N	250000.000000000000000000000000000000	5	ACTIF	\N	2026-01-22 14:10:49.919	2026-01-22 14:10:49.919	f5f5e4a3-8f1c-4462-a5aa-c53297a5316c
\.


--
-- Data for Name: depenses_affaires; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depenses_affaires (id, affaire_id, date, type_depense, nature, montant, description, justificatif, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: depenses_dossier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depenses_dossier (id, dossier_id, date, nature, type_depense, montant, justificatif, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: depenses_immeubles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: encaissements_loyers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: factures_conseil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.factures_conseil (id, client_id, reference, mois_concerne, montant_ht, tva, montant_ttc, date_emission, date_echeance, statut, notes, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: honoraires_contentieux; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.honoraires_contentieux (id, affaire_id, montant_facture, montant_encaisse, date_facturation, notes, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: honoraires_recouvrement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.honoraires_recouvrement (id, dossier_id, type, montant_prevu, pourcentage, montant_paye, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: locataires_dossiers_recouvrement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.locataires_dossiers_recouvrement (id, locataire_id, dossier_id, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: paiements_conseil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiements_conseil (id, facture_id, date, montant, mode, reference, commentaire, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: paiements_honoraires_contentieux; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiements_honoraires_contentieux (id, honoraires_id, date, montant, mode_paiement, notes, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: paiements_recouvrement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiements_recouvrement (id, dossier_id, date, montant, mode, reference, commentaire, created_at, created_by) FROM stdin;
a1a8bc1c-5d9e-4724-aee0-d926ac5b8039	69c29e6b-a3f7-42c4-bde2-9798bf0a0bc2	2026-01-20 00:00:00	1500000.000000000000000000000000000000	CHEQUE	\N	Paiement de la somme de 1500000FCFA effectu├® par APACK apr├¿s la r├®ception de la lettre de mise en demeure 	2026-01-20 22:47:53.807	f5f5e4a3-8f1c-4462-a5aa-c53297a5316c
\.


--
-- Data for Name: rapports_gestion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: resultats_audiences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resultats_audiences (id, audience_id, type, nouvelle_date, motif_renvoi, motif_radiation, texte_delibere, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: taches_conseil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.taches_conseil (id, client_id, date, type, description, duree_minutes, mois_concerne, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

\unrestrict fMaK0Thn3eoKbAWnRXs04tJf9vhAzhpgzXZws56LmOyN9OleDqHkRSLmt0yt5V8

