--
-- PostgreSQL database dump
--

\restrict YYbVHW0OoTEhpESeURlhPdV2tik3UyRqo6EJgK4zh6D40ltueie6FQN8yGtm7SV

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA auth;


ALTER SCHEMA auth OWNER TO postgres;

--
-- Name: AppRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AppRole" AS ENUM (
    'admin',
    'collaborateur',
    'compta'
);


ALTER TYPE public."AppRole" OWNER TO postgres;

--
-- Name: ModePaiement; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ModePaiement" AS ENUM (
    'CASH',
    'VIREMENT',
    'CHEQUE',
    'WAVE',
    'OM'
);


ALTER TYPE public."ModePaiement" OWNER TO postgres;

--
-- Name: ObjetAudience; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ObjetAudience" AS ENUM (
    'MISE_EN_ETAT',
    'PLAIDOIRIE',
    'REFERE',
    'AUTRE'
);


ALTER TYPE public."ObjetAudience" OWNER TO postgres;

--
-- Name: PrioriteAlerte; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PrioriteAlerte" AS ENUM (
    'HAUTE',
    'MOYENNE',
    'BASSE'
);


ALTER TYPE public."PrioriteAlerte" OWNER TO postgres;

--
-- Name: StatutAffaire; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutAffaire" AS ENUM (
    'ACTIVE',
    'CLOTUREE',
    'RADIEE'
);


ALTER TYPE public."StatutAffaire" OWNER TO postgres;

--
-- Name: StatutAudience; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutAudience" AS ENUM (
    'A_VENIR',
    'PASSEE_NON_RENSEIGNEE',
    'RENSEIGNEE'
);


ALTER TYPE public."StatutAudience" OWNER TO postgres;

--
-- Name: StatutBail; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutBail" AS ENUM (
    'ACTIF',
    'INACTIF'
);


ALTER TYPE public."StatutBail" OWNER TO postgres;

--
-- Name: StatutClientConseil; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutClientConseil" AS ENUM (
    'ACTIF',
    'SUSPENDU',
    'RESILIE'
);


ALTER TYPE public."StatutClientConseil" OWNER TO postgres;

--
-- Name: StatutFacture; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutFacture" AS ENUM (
    'BROUILLON',
    'ENVOYEE',
    'PAYEE',
    'EN_RETARD',
    'ANNULEE'
);


ALTER TYPE public."StatutFacture" OWNER TO postgres;

--
-- Name: StatutLot; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutLot" AS ENUM (
    'LIBRE',
    'OCCUPE'
);


ALTER TYPE public."StatutLot" OWNER TO postgres;

--
-- Name: StatutRecouvrement; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StatutRecouvrement" AS ENUM (
    'EN_COURS',
    'CLOTURE'
);


ALTER TYPE public."StatutRecouvrement" OWNER TO postgres;

--
-- Name: TypeAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeAction" AS ENUM (
    'APPEL_TELEPHONIQUE',
    'COURRIER',
    'LETTRE_RELANCE',
    'MISE_EN_DEMEURE',
    'COMMANDEMENT_PAYER',
    'ASSIGNATION',
    'REQUETE',
    'AUDIENCE_PROCEDURE',
    'AUTRE'
);


ALTER TYPE public."TypeAction" OWNER TO postgres;

--
-- Name: TypeAlerte; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeAlerte" AS ENUM (
    'AUDIENCE_NON_RENSEIGNEE',
    'DOSSIER_SANS_ACTION',
    'LOYER_IMPAYE',
    'ECHEANCE_PROCHE',
    'FACTURE_IMPAYEE'
);


ALTER TYPE public."TypeAlerte" OWNER TO postgres;

--
-- Name: TypeDepenseDossier; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeDepenseDossier" AS ENUM (
    'FRAIS_HUISSIER',
    'FRAIS_GREFFE',
    'TIMBRES_FISCAUX',
    'FRAIS_COURRIER',
    'FRAIS_DEPLACEMENT',
    'FRAIS_EXPERTISE',
    'AUTRES'
);


ALTER TYPE public."TypeDepenseDossier" OWNER TO postgres;

--
-- Name: TypeDepenseImmeuble; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeDepenseImmeuble" AS ENUM (
    'PLOMBERIE_ASSAINISSEMENT',
    'ELECTRICITE_ECLAIRAGE',
    'ENTRETIEN_MAINTENANCE',
    'SECURITE_GARDIENNAGE_ASSURANCE',
    'AUTRES_DEPENSES'
);


ALTER TYPE public."TypeDepenseImmeuble" OWNER TO postgres;

--
-- Name: TypeHonoraires; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeHonoraires" AS ENUM (
    'FORFAIT',
    'POURCENTAGE',
    'MIXTE'
);


ALTER TYPE public."TypeHonoraires" OWNER TO postgres;

--
-- Name: TypeLot; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeLot" AS ENUM (
    'STUDIO',
    'F1',
    'F2',
    'F3',
    'F4',
    'F5',
    'MAGASIN',
    'BUREAU',
    'AUTRE'
);


ALTER TYPE public."TypeLot" OWNER TO postgres;

--
-- Name: TypePartie; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypePartie" AS ENUM (
    'physique',
    'morale'
);


ALTER TYPE public."TypePartie" OWNER TO postgres;

--
-- Name: TypeRelation; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeRelation" AS ENUM (
    'creancier',
    'debiteur',
    'proprietaire',
    'locataire',
    'adversaire',
    'demandeur',
    'defendeur'
);


ALTER TYPE public."TypeRelation" OWNER TO postgres;

--
-- Name: TypeResultat; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeResultat" AS ENUM (
    'RENVOI',
    'RADIATION',
    'DELIBERE'
);


ALTER TYPE public."TypeResultat" OWNER TO postgres;

--
-- Name: TypeTache; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TypeTache" AS ENUM (
    'CONSULTATION',
    'REDACTION',
    'NEGOCIATION',
    'RECHERCHE',
    'REUNION',
    'APPEL',
    'EMAIL',
    'AUTRE'
);


ALTER TYPE public."TypeTache" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255),
    encrypted_password character varying(255),
    email_confirmed_at timestamp with time zone,
    invited_at timestamp with time zone,
    confirmation_token character varying(255),
    confirmation_sent_at timestamp with time zone,
    recovery_token character varying(255),
    recovery_sent_at timestamp with time zone,
    email_change_token_new character varying(255),
    email_change character varying(255),
    email_change_sent_at timestamp with time zone,
    last_sign_in_at timestamp with time zone,
    raw_app_meta_data jsonb,
    raw_user_meta_data jsonb,
    is_super_admin boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    phone character varying(15),
    phone_confirmed_at timestamp with time zone,
    phone_change character varying(15),
    phone_change_token character varying(255),
    phone_change_sent_at timestamp with time zone,
    confirmed_at timestamp with time zone GENERATED ALWAYS AS (LEAST(email_confirmed_at, phone_confirmed_at)) STORED,
    email_change_token_current character varying(255),
    email_change_confirm_status smallint,
    banned_until timestamp with time zone,
    reauthentication_token character varying(255),
    reauthentication_sent_at timestamp with time zone,
    is_sso_user boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE auth.users OWNER TO postgres;

--
-- Name: actions_recouvrement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actions_recouvrement (
    id text NOT NULL,
    dossier_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    type_action public."TypeAction" NOT NULL,
    resume text NOT NULL,
    prochaine_etape text,
    echeance_prochaine_etape timestamp(3) without time zone,
    piece_jointe text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.actions_recouvrement OWNER TO postgres;

--
-- Name: affaires; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.affaires (
    id text NOT NULL,
    reference text NOT NULL,
    intitule text NOT NULL,
    demandeurs jsonb DEFAULT '[]'::jsonb NOT NULL,
    defendeurs jsonb DEFAULT '[]'::jsonb NOT NULL,
    juridiction text NOT NULL,
    chambre text NOT NULL,
    statut public."StatutAffaire" DEFAULT 'ACTIVE'::public."StatutAffaire" NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.affaires OWNER TO postgres;

--
-- Name: alertes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alertes (
    id text NOT NULL,
    type public."TypeAlerte" NOT NULL,
    titre text NOT NULL,
    description text NOT NULL,
    lien text,
    priorite public."PrioriteAlerte" DEFAULT 'MOYENNE'::public."PrioriteAlerte" NOT NULL,
    lu boolean DEFAULT false NOT NULL,
    user_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.alertes OWNER TO postgres;

--
-- Name: audiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audiences (
    id text NOT NULL,
    affaire_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    heure text,
    objet public."ObjetAudience" DEFAULT 'MISE_EN_ETAT'::public."ObjetAudience" NOT NULL,
    statut public."StatutAudience" DEFAULT 'A_VENIR'::public."StatutAudience" NOT NULL,
    notes_preparation text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.audiences OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id text NOT NULL,
    user_id text,
    user_email text,
    action text NOT NULL,
    module text NOT NULL,
    entity_type text NOT NULL,
    entity_id text,
    entity_reference text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: baux; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.baux (
    id text NOT NULL,
    lot_id text NOT NULL,
    locataire_id text NOT NULL,
    date_debut timestamp(3) without time zone NOT NULL,
    date_fin timestamp(3) without time zone,
    montant_loyer numeric(65,30) NOT NULL,
    jour_paiement_prevu integer DEFAULT 5 NOT NULL,
    statut public."StatutBail" DEFAULT 'ACTIF'::public."StatutBail" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.baux OWNER TO postgres;

--
-- Name: clients_conseil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients_conseil (
    id text NOT NULL,
    reference text NOT NULL,
    nom text NOT NULL,
    type public."TypePartie" DEFAULT 'morale'::public."TypePartie" NOT NULL,
    telephone text,
    email text,
    adresse text,
    honoraire_mensuel numeric(65,30) DEFAULT 0 NOT NULL,
    jour_facturation integer DEFAULT 1 NOT NULL,
    statut public."StatutClientConseil" DEFAULT 'ACTIF'::public."StatutClientConseil" NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.clients_conseil OWNER TO postgres;

--
-- Name: depenses_affaires; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depenses_affaires (
    id text NOT NULL,
    affaire_id text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type_depense text NOT NULL,
    nature text NOT NULL,
    montant numeric(65,30) DEFAULT 0 NOT NULL,
    description text,
    justificatif text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.depenses_affaires OWNER TO postgres;

--
-- Name: depenses_dossier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depenses_dossier (
    id text NOT NULL,
    dossier_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    nature text NOT NULL,
    type_depense public."TypeDepenseDossier" DEFAULT 'AUTRES'::public."TypeDepenseDossier" NOT NULL,
    montant numeric(65,30) NOT NULL,
    justificatif text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.depenses_dossier OWNER TO postgres;

--
-- Name: depenses_immeubles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depenses_immeubles (
    id text NOT NULL,
    immeuble_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    nature text NOT NULL,
    description text,
    montant numeric(65,30) NOT NULL,
    type_depense public."TypeDepenseImmeuble" DEFAULT 'AUTRES_DEPENSES'::public."TypeDepenseImmeuble" NOT NULL,
    justificatif text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.depenses_immeubles OWNER TO postgres;

--
-- Name: dossiers_recouvrement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dossiers_recouvrement (
    id text NOT NULL,
    reference text NOT NULL,
    creancier_id text,
    creancier_nom text NOT NULL,
    creancier_telephone text,
    creancier_email text,
    debiteur_id text,
    debiteur_nom text NOT NULL,
    debiteur_telephone text,
    debiteur_email text,
    debiteur_adresse text,
    montant_principal numeric(65,30) NOT NULL,
    penalites_interets numeric(65,30) DEFAULT 0,
    total_a_recouvrer numeric(65,30) NOT NULL,
    statut public."StatutRecouvrement" DEFAULT 'EN_COURS'::public."StatutRecouvrement" NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.dossiers_recouvrement OWNER TO postgres;

--
-- Name: encaissements_loyers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.encaissements_loyers (
    id text NOT NULL,
    lot_id text NOT NULL,
    mois_concerne text NOT NULL,
    date_encaissement timestamp(3) without time zone NOT NULL,
    montant_encaisse numeric(65,30) NOT NULL,
    mode_paiement public."ModePaiement" NOT NULL,
    observation text,
    commission_capco numeric(65,30) DEFAULT 0 NOT NULL,
    net_proprietaire numeric(65,30) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.encaissements_loyers OWNER TO postgres;

--
-- Name: factures_conseil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.factures_conseil (
    id text NOT NULL,
    client_id text NOT NULL,
    reference text NOT NULL,
    mois_concerne text NOT NULL,
    montant_ht numeric(65,30) NOT NULL,
    tva numeric(65,30) DEFAULT 0,
    montant_ttc numeric(65,30) NOT NULL,
    date_emission timestamp(3) without time zone NOT NULL,
    date_echeance timestamp(3) without time zone NOT NULL,
    statut public."StatutFacture" DEFAULT 'BROUILLON'::public."StatutFacture" NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.factures_conseil OWNER TO postgres;

--
-- Name: honoraires_contentieux; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.honoraires_contentieux (
    id text NOT NULL,
    affaire_id text NOT NULL,
    montant_facture numeric(65,30) DEFAULT 0 NOT NULL,
    montant_encaisse numeric(65,30) DEFAULT 0 NOT NULL,
    date_facturation timestamp(3) without time zone,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.honoraires_contentieux OWNER TO postgres;

--
-- Name: honoraires_recouvrement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.honoraires_recouvrement (
    id text NOT NULL,
    dossier_id text NOT NULL,
    type public."TypeHonoraires" DEFAULT 'FORFAIT'::public."TypeHonoraires" NOT NULL,
    montant_prevu numeric(65,30) DEFAULT 0 NOT NULL,
    pourcentage numeric(65,30),
    montant_paye numeric(65,30) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.honoraires_recouvrement OWNER TO postgres;

--
-- Name: immeubles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.immeubles (
    id text NOT NULL,
    proprietaire_id text NOT NULL,
    nom text NOT NULL,
    reference text NOT NULL,
    adresse text NOT NULL,
    taux_commission_capco numeric(65,30) NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.immeubles OWNER TO postgres;

--
-- Name: locataires; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locataires (
    id text NOT NULL,
    nom text NOT NULL,
    telephone text,
    email text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.locataires OWNER TO postgres;

--
-- Name: locataires_dossiers_recouvrement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locataires_dossiers_recouvrement (
    id text NOT NULL,
    locataire_id text NOT NULL,
    dossier_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.locataires_dossiers_recouvrement OWNER TO postgres;

--
-- Name: lots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lots (
    id text NOT NULL,
    immeuble_id text NOT NULL,
    locataire_id text,
    numero text NOT NULL,
    etage text,
    type public."TypeLot" DEFAULT 'AUTRE'::public."TypeLot" NOT NULL,
    loyer_mensuel_attendu numeric(65,30) DEFAULT 0 NOT NULL,
    statut public."StatutLot" DEFAULT 'LIBRE'::public."StatutLot" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.lots OWNER TO postgres;

--
-- Name: paiements_conseil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiements_conseil (
    id text NOT NULL,
    facture_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    montant numeric(65,30) NOT NULL,
    mode public."ModePaiement" NOT NULL,
    reference text,
    commentaire text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.paiements_conseil OWNER TO postgres;

--
-- Name: paiements_honoraires_contentieux; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiements_honoraires_contentieux (
    id text NOT NULL,
    honoraires_id text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    montant numeric(65,30) DEFAULT 0 NOT NULL,
    mode_paiement text NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.paiements_honoraires_contentieux OWNER TO postgres;

--
-- Name: paiements_recouvrement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiements_recouvrement (
    id text NOT NULL,
    dossier_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    montant numeric(65,30) NOT NULL,
    mode public."ModePaiement" NOT NULL,
    reference text,
    commentaire text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.paiements_recouvrement OWNER TO postgres;

--
-- Name: parties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parties (
    id text NOT NULL,
    type public."TypePartie" DEFAULT 'physique'::public."TypePartie" NOT NULL,
    nom text NOT NULL,
    telephone text,
    email text,
    adresse text,
    type_relation public."TypeRelation" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.parties OWNER TO postgres;

--
-- Name: proprietaires; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proprietaires (
    id text NOT NULL,
    nom text NOT NULL,
    telephone text,
    email text,
    adresse text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text
);


ALTER TABLE public.proprietaires OWNER TO postgres;

--
-- Name: rapports_gestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rapports_gestion (
    id text NOT NULL,
    immeuble_id text NOT NULL,
    periode_debut timestamp(3) without time zone NOT NULL,
    periode_fin timestamp(3) without time zone NOT NULL,
    total_loyers numeric(65,30) DEFAULT 0 NOT NULL,
    total_depenses numeric(65,30) DEFAULT 0 NOT NULL,
    total_commissions numeric(65,30) DEFAULT 0 NOT NULL,
    net_proprietaire numeric(65,30) DEFAULT 0 NOT NULL,
    date_generation timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    generer_par text NOT NULL,
    statut text DEFAULT 'BROUILLON'::text NOT NULL
);


ALTER TABLE public.rapports_gestion OWNER TO postgres;

--
-- Name: resultats_audiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultats_audiences (
    id text NOT NULL,
    audience_id text NOT NULL,
    type public."TypeResultat" NOT NULL,
    nouvelle_date timestamp(3) without time zone,
    motif_renvoi text,
    motif_radiation text,
    texte_delibere text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.resultats_audiences OWNER TO postgres;

--
-- Name: taches_conseil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taches_conseil (
    id text NOT NULL,
    client_id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    type public."TypeTache" DEFAULT 'AUTRE'::public."TypeTache" NOT NULL,
    description text NOT NULL,
    duree_minutes integer,
    mois_concerne text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by text NOT NULL
);


ALTER TABLE public.taches_conseil OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id text NOT NULL,
    user_id text NOT NULL,
    role public."AppRole" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_sign_in_at timestamp(3) without time zone,
    migration_source text,
    reset_token text,
    reset_expiry timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: actions_recouvrement actions_recouvrement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actions_recouvrement
    ADD CONSTRAINT actions_recouvrement_pkey PRIMARY KEY (id);


--
-- Name: affaires affaires_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.affaires
    ADD CONSTRAINT affaires_pkey PRIMARY KEY (id);


--
-- Name: alertes alertes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alertes
    ADD CONSTRAINT alertes_pkey PRIMARY KEY (id);


--
-- Name: audiences audiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: baux baux_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.baux
    ADD CONSTRAINT baux_pkey PRIMARY KEY (id);


--
-- Name: clients_conseil clients_conseil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_conseil
    ADD CONSTRAINT clients_conseil_pkey PRIMARY KEY (id);


--
-- Name: depenses_affaires depenses_affaires_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depenses_affaires
    ADD CONSTRAINT depenses_affaires_pkey PRIMARY KEY (id);


--
-- Name: depenses_dossier depenses_dossier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depenses_dossier
    ADD CONSTRAINT depenses_dossier_pkey PRIMARY KEY (id);


--
-- Name: depenses_immeubles depenses_immeubles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depenses_immeubles
    ADD CONSTRAINT depenses_immeubles_pkey PRIMARY KEY (id);


--
-- Name: dossiers_recouvrement dossiers_recouvrement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dossiers_recouvrement
    ADD CONSTRAINT dossiers_recouvrement_pkey PRIMARY KEY (id);


--
-- Name: encaissements_loyers encaissements_loyers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.encaissements_loyers
    ADD CONSTRAINT encaissements_loyers_pkey PRIMARY KEY (id);


--
-- Name: factures_conseil factures_conseil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures_conseil
    ADD CONSTRAINT factures_conseil_pkey PRIMARY KEY (id);


--
-- Name: honoraires_contentieux honoraires_contentieux_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.honoraires_contentieux
    ADD CONSTRAINT honoraires_contentieux_pkey PRIMARY KEY (id);


--
-- Name: honoraires_recouvrement honoraires_recouvrement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.honoraires_recouvrement
    ADD CONSTRAINT honoraires_recouvrement_pkey PRIMARY KEY (id);


--
-- Name: immeubles immeubles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.immeubles
    ADD CONSTRAINT immeubles_pkey PRIMARY KEY (id);


--
-- Name: locataires_dossiers_recouvrement locataires_dossiers_recouvrement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locataires_dossiers_recouvrement
    ADD CONSTRAINT locataires_dossiers_recouvrement_pkey PRIMARY KEY (id);


--
-- Name: locataires locataires_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locataires
    ADD CONSTRAINT locataires_pkey PRIMARY KEY (id);


--
-- Name: lots lots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lots
    ADD CONSTRAINT lots_pkey PRIMARY KEY (id);


--
-- Name: paiements_conseil paiements_conseil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements_conseil
    ADD CONSTRAINT paiements_conseil_pkey PRIMARY KEY (id);


--
-- Name: paiements_honoraires_contentieux paiements_honoraires_contentieux_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements_honoraires_contentieux
    ADD CONSTRAINT paiements_honoraires_contentieux_pkey PRIMARY KEY (id);


--
-- Name: paiements_recouvrement paiements_recouvrement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements_recouvrement
    ADD CONSTRAINT paiements_recouvrement_pkey PRIMARY KEY (id);


--
-- Name: parties parties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parties
    ADD CONSTRAINT parties_pkey PRIMARY KEY (id);


--
-- Name: proprietaires proprietaires_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proprietaires
    ADD CONSTRAINT proprietaires_pkey PRIMARY KEY (id);


--
-- Name: rapports_gestion rapports_gestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapports_gestion
    ADD CONSTRAINT rapports_gestion_pkey PRIMARY KEY (id);


--
-- Name: resultats_audiences resultats_audiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultats_audiences
    ADD CONSTRAINT resultats_audiences_pkey PRIMARY KEY (id);


--
-- Name: taches_conseil taches_conseil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taches_conseil
    ADD CONSTRAINT taches_conseil_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_email_idx; Type: INDEX; Schema: auth; Owner: postgres
--

CREATE INDEX users_email_idx ON auth.users USING btree (email);


--
-- Name: users_phone_idx; Type: INDEX; Schema: auth; Owner: postgres
--

CREATE INDEX users_phone_idx ON auth.users USING btree (phone);


--
-- Name: audit_log_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_log_created_at_idx ON public.audit_log USING btree (created_at DESC);


--
-- Name: audit_log_entity_type_entity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_log_entity_type_entity_id_idx ON public.audit_log USING btree (entity_type, entity_id);


--
-- Name: audit_log_module_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_log_module_idx ON public.audit_log USING btree (module);


--
-- Name: audit_log_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_log_user_id_idx ON public.audit_log USING btree (user_id);


--
-- Name: depenses_affaires_affaire_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX depenses_affaires_affaire_id_idx ON public.depenses_affaires USING btree (affaire_id);


--
-- Name: locataires_dossiers_recouvrement_locataire_id_dossier_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX locataires_dossiers_recouvrement_locataire_id_dossier_id_key ON public.locataires_dossiers_recouvrement USING btree (locataire_id, dossier_id);


--
-- Name: lots_immeuble_id_numero_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX lots_immeuble_id_numero_key ON public.lots USING btree (immeuble_id, numero);


--
-- Name: paiements_honoraires_contentieux_honoraires_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX paiements_honoraires_contentieux_honoraires_id_idx ON public.paiements_honoraires_contentieux USING btree (honoraires_id);


--
-- Name: user_roles_user_id_role_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX user_roles_user_id_role_key ON public.user_roles USING btree (user_id, role);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: actions_recouvrement actions_recouvrement_dossier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actions_recouvrement
    ADD CONSTRAINT actions_recouvrement_dossier_id_fkey FOREIGN KEY (dossier_id) REFERENCES public.dossiers_recouvrement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audiences audiences_affaire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_affaire_id_fkey FOREIGN KEY (affaire_id) REFERENCES public.affaires(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: baux baux_locataire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.baux
    ADD CONSTRAINT baux_locataire_id_fkey FOREIGN KEY (locataire_id) REFERENCES public.locataires(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: baux baux_lot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.baux
    ADD CONSTRAINT baux_lot_id_fkey FOREIGN KEY (lot_id) REFERENCES public.lots(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: depenses_affaires depenses_affaires_affaire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depenses_affaires
    ADD CONSTRAINT depenses_affaires_affaire_id_fkey FOREIGN KEY (affaire_id) REFERENCES public.affaires(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: depenses_dossier depenses_dossier_dossier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depenses_dossier
    ADD CONSTRAINT depenses_dossier_dossier_id_fkey FOREIGN KEY (dossier_id) REFERENCES public.dossiers_recouvrement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: depenses_immeubles depenses_immeubles_immeuble_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depenses_immeubles
    ADD CONSTRAINT depenses_immeubles_immeuble_id_fkey FOREIGN KEY (immeuble_id) REFERENCES public.immeubles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dossiers_recouvrement dossiers_recouvrement_creancier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dossiers_recouvrement
    ADD CONSTRAINT dossiers_recouvrement_creancier_id_fkey FOREIGN KEY (creancier_id) REFERENCES public.parties(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: dossiers_recouvrement dossiers_recouvrement_debiteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dossiers_recouvrement
    ADD CONSTRAINT dossiers_recouvrement_debiteur_id_fkey FOREIGN KEY (debiteur_id) REFERENCES public.parties(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: encaissements_loyers encaissements_loyers_lot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.encaissements_loyers
    ADD CONSTRAINT encaissements_loyers_lot_id_fkey FOREIGN KEY (lot_id) REFERENCES public.lots(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: factures_conseil factures_conseil_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures_conseil
    ADD CONSTRAINT factures_conseil_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients_conseil(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: honoraires_contentieux honoraires_contentieux_affaire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.honoraires_contentieux
    ADD CONSTRAINT honoraires_contentieux_affaire_id_fkey FOREIGN KEY (affaire_id) REFERENCES public.affaires(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: honoraires_recouvrement honoraires_recouvrement_dossier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.honoraires_recouvrement
    ADD CONSTRAINT honoraires_recouvrement_dossier_id_fkey FOREIGN KEY (dossier_id) REFERENCES public.dossiers_recouvrement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: immeubles immeubles_proprietaire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.immeubles
    ADD CONSTRAINT immeubles_proprietaire_id_fkey FOREIGN KEY (proprietaire_id) REFERENCES public.proprietaires(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: locataires_dossiers_recouvrement locataires_dossiers_recouvrement_dossier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locataires_dossiers_recouvrement
    ADD CONSTRAINT locataires_dossiers_recouvrement_dossier_id_fkey FOREIGN KEY (dossier_id) REFERENCES public.dossiers_recouvrement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: locataires_dossiers_recouvrement locataires_dossiers_recouvrement_locataire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locataires_dossiers_recouvrement
    ADD CONSTRAINT locataires_dossiers_recouvrement_locataire_id_fkey FOREIGN KEY (locataire_id) REFERENCES public.locataires(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lots lots_immeuble_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lots
    ADD CONSTRAINT lots_immeuble_id_fkey FOREIGN KEY (immeuble_id) REFERENCES public.immeubles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lots lots_locataire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lots
    ADD CONSTRAINT lots_locataire_id_fkey FOREIGN KEY (locataire_id) REFERENCES public.locataires(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: paiements_conseil paiements_conseil_facture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements_conseil
    ADD CONSTRAINT paiements_conseil_facture_id_fkey FOREIGN KEY (facture_id) REFERENCES public.factures_conseil(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: paiements_honoraires_contentieux paiements_honoraires_contentieux_honoraires_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements_honoraires_contentieux
    ADD CONSTRAINT paiements_honoraires_contentieux_honoraires_id_fkey FOREIGN KEY (honoraires_id) REFERENCES public.honoraires_contentieux(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: paiements_recouvrement paiements_recouvrement_dossier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements_recouvrement
    ADD CONSTRAINT paiements_recouvrement_dossier_id_fkey FOREIGN KEY (dossier_id) REFERENCES public.dossiers_recouvrement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rapports_gestion rapports_gestion_immeuble_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapports_gestion
    ADD CONSTRAINT rapports_gestion_immeuble_id_fkey FOREIGN KEY (immeuble_id) REFERENCES public.immeubles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: resultats_audiences resultats_audiences_audience_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultats_audiences
    ADD CONSTRAINT resultats_audiences_audience_id_fkey FOREIGN KEY (audience_id) REFERENCES public.audiences(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: taches_conseil taches_conseil_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taches_conseil
    ADD CONSTRAINT taches_conseil_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients_conseil(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict YYbVHW0OoTEhpESeURlhPdV2tik3UyRqo6EJgK4zh6D40ltueie6FQN8yGtm7SV

